@config "../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 .header-button {
  @apply px-2 hover:bg-dark-gray-hover text-light-text hover:text-white transition-all ease-in-out rounded-md border-[1px] border-gray-border cursor-pointer;
 }
 .header-button-active {
  @apply  border-[1px] border-gray-border bg-dark-gray-hover text-white;
 }

 .card-shadow {
  box-shadow: 0px 5px 5px -50px rgba(0, 0, 0, 0.75);
 }

 .center-custom {
  left: 50%;
  transform: translateX(-50%);
 }
}
